.note-sidebar {padding-top:0; top:50px; bottom:0; min-height:0; overflow-y:auto;}

.box-note, .box-info {border-top:none; border-radius:0;}
.box-info {border-bottom:none; border-top:none; margin:0;}
.note-list {padding-right:0; background-color:#F7F7F7; border-right:1px solid #eaeaea;}
.note-list, .box-note, .box-info,.editor-init {min-height:100%;}
.note-list .box-title small {margin-left:20px;}
.note-list .box-title i {margin-left:20px;}
.note-list .box-body {overflow-y:auto;}

.note-list-action {display:inline-block; position:absolute; right:5px; top:10px;}
.note-list-action .dropdown-toggle {display:inline-block; width:25px; height:25px; line-height:25px; text-align:center;}
.note-list-action .dropdown-menu {background-color:#FFF;}
.note-list-action .dropdown-menu a {color:#000;}
.note-list .nav li .dropdown, .sidebar-menu li .dropdown {display:none;}
.note-list .nav li .dropdown.open, .sidebar-menu li .dropdown.open {display:inline-block;}
.note-list .nav li:hover .dropdown, .sidebar-menu li:hover .dropdown {display:inline-block;}

.editor-icon {font-size:120px; color:#AAA; position:absolute; left:50%; top:50%; margin-left:-60px; margin-top:-60px;}
.box-note {border:none; min-height:100%; margin:0;}
.note-header {position:relative;}
.note-header .form-control {border:none; font-size:16px; height:45px;}
.note-header small {position:absolute; right:12px; top:14px; color:#b3b3b3;}
.note-body {}

/* CKEditor */
.cke_reset {border-left:none; border-right:none; border-bottom:none;}
.cke_combo__font .cke_combo_text {width:50px;}
.cke_combo__fontsize .cke_combo_text {width:20px;}